<section class="home__give-me-room home__offline flex-justify-content flex-wrap">
    <img class="home__offline-image" src="{{rootURL}}{{model.chosen}}" />
</section>
{{#if showTime}}
    <section class="home__give-me-room flex-justify-content flex-wrap">
        <b class="max-width-large flex-justify-content">Pasta Weekend is live in {{showTime}} seconds</b>
    </section>
{{else}}
    <section class="home__give-me-room flex-justify-content flex-wrap">
        <b class="max-width-large flex-justify-content">Pasta Weekend is not live right now</b>
    </section>
{{/if}}
<section class="home__give-me-room flex-justify-content flex-wrap">
    <b class="max-width-large flex-justify-content">
        Text the show at&nbsp;<a class="link" href="sms://+15302067664">530-206-7664</a>
    </b>
</section>
<section class="home__give-me-room flex-justify-content flex-wrap">
    <b class="max-width-large flex-justify-content">Airs every Saturday at 2PM PST (except when it doesn't).</b>
</section>