<div>
  {{#unless error}}
    <video class="roro-camera__video" controls autoplay>
      Your browser does not support the video tag.
    </video>
  {{else}}
    <h4 class="roro-camera__error">Camera is currently offline!</h4>
  {{/unless}}
</div>
