.home {
  min-height: 250px;
}

.home__me {
  margin: 12px 0;
  filter: saturate(0%);
}

.home__link {
  margin: 0 0 0 12px;
}

.home__footer {
}

.home__give-me-room {
  margin-top: 32px;
}

.home__offline {
  box-sizing: border-box;
  width: 100%;
  padding: 0 32px;
}

.home__offline-image {
  max-height: 400px;
  max-width: 400px;
  width: auto;
}

.home__pad-thai {
  margin: 16px;
}

.home__camera {
}
