@import "_colors.scss";
@import "_flex.scss";

body {
  font-family: "Space Mono", monospace;
  background-color: #0e1111;
}

.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid #f8f8ff;
}

.max-width-large {
  max-width: 750px;
}

.justify-text {
  text-align: justify;
}

.link {
  color: #268bd2;
}

.link:visited {
  color: #90caf9;
}

.link:hover {
  color: #1565c0;
}
