.roro-temperature {
}

.roro-temperature__degrees {
  font-size: 3rem;
  margin-bottom: 0;
}

.roro-temperature__degrees--empty {
  font-size: 1rem;
  color: green;
}

.roro-temperature__timestamp {
  font-size: 0.75rem;
}
