{{roro-header}}

<div class="home color-ghost-white">
  <section class="home__footer flex-justify-content">
    <a href="/"><img alt="it's me" class="home__me circle" src="{{rootURL}}rsz_me2.jpg" /></a>
  </section>
  {{outlet}}
</div>
