<h3 class="flex-justify-content flex-wrap">San Francisco Sky Livestream</h3>
{{roro-camera class="home__give-me-room flex-justify-content"}}
<div class="flex-justify-content flex-wrap">
  <p class="max-width-large">
  Project uses an Amcrest camera with a port-forwarded RTSP stream. Encoding to HLS MPEG
  is performed on a dedicated Azure instance with a static HTTP server on top. The
  Node server delivering this page handles the fetching and proxying.
  </p>
</div>
