<section class="home__footer flex-justify-content">
  <!-- blurb -->
  <p>Engineer at
    <span>
      {{#roro-link href="linkedin.com"}}LinkedIn{{/roro-link}}
    </span>
  </p>
</section>
<section class="flex-justify-content flex-wrap">
  <!-- find me-->
  <div>{{#roro-link class="home__link" href="instagram.com/iamrobertorodriguez"}}instagram{{/roro-link}} //</div>
  <div>{{#roro-link class="home__link" href="twitter.com/manufacturedba"}}twitter{{/roro-link}} //</div>
  <div>{{#roro-link class="home__link" href="linkedin.com/in/roro"}}linkedin{{/roro-link}} //</div>
  <div>{{#roro-link class="home__link" href="github.com/manufacturedba"}}github{{/roro-link}}</div>
</section>
<section class="home__give-me-room flex-justify-content flex-wrap">
  <div>{{#roro-link class="home__link" local="/camera"}}liberal hellhole livestream{{/roro-link}}</div>
</section>
<section class="home__give-me-room flex-justify-content flex-wrap">
  <marquee>minecraft.roberto-rodriguez.com</marquee>
</section>
