{{roro-header}}

<div class="home color-ghost-white">
  <section class="home__footer flex-justify-content">
    <img alt="it's me" class="home__me circle" src="{{rootURL}}rsz_me2.jpg" />
  </section>
  <section class="home__footer flex-justify-content">
    <!-- blurb -->
    <p>Engineer at
      <span>
        {{#secure-link href="linkedin.com"}}LinkedIn{{/secure-link}}
      </span>
    </p>
  </section>
  <section class="flex-justify-content flex-wrap">
    <!-- find me-->
    <div>{{#secure-link class="home__link" href="instagram.com/iamrobertorodriguez"}}instagram{{/secure-link}} //</div>
    <div>{{#secure-link class="home__link" href="twitter.com/manufacturedba"}}twitter{{/secure-link}} //</div>
    <div>{{#secure-link class="home__link" href="linkedin.com/in/roro"}}linkedin{{/secure-link}} //</div>
    <div>{{#secure-link class="home__link" href="github.com/manufacturedba"}}github{{/secure-link}}</div>
  </section>
  <section class="home__give-me-room flex-justify-content flex-wrap">
    <marquee>minecraft.roberto-rodriguez.com</marquee>
  </section>
</div>
