{{roro-header}}

<div class="home color-ghost-white">
  <section class="home__footer flex-justify-content">
    <img alt="it's me" class="circle" src="{{rootURL}}rsz_me.jpg" />
  </section>
  <section class="home__footer flex-justify-content">
    <!-- blurb -->
    <p>UI Engineer at
      <span>
        {{#secure-link href="linkedin.com"}}LinkedIn{{/secure-link}}
      </span>
    </p>
  </section>
  <section class="flex-justify-content">
    <!-- find me-->
    {{#secure-link class="home__link" href="instagram.com/hellogoodbyehoneybee"}}instagram{{/secure-link}} //
    {{#secure-link class="home__link" href="twitter.com/manufacturedba"}}twitter{{/secure-link}} //
    {{#secure-link class="home__link" href="linkedin.com/in/roro"}}linkedin{{/secure-link}}
  </section>
</div>
