{{roro-temperature}}
<div class="home__pad-thai justify-text flex-justify-content flex-wrap">
  <p class="max-width-large">
  Project uses an Eddystone beacon to broadcast telemetry data every 30 seconds
  which gets saved to a Firebase real-time database. 
  </p>
</div>
